<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.registermodule">

    <application>
        <activity
            android:name=".RegisterActivity"
            android:exported="false" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="register" android:host="www.register.com" android:port="1226" />
            </intent-filter>
        </activity>
    </application>

</manifest>